html{
    background-color: white;
    font-family:  'Noto Serif TC', 'Noto Serif', serif;
}

/* Header */

header{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#header_container{
    width: fit-content;
    margin-right: 50px;
    text-align: left;
}
header h1{
    padding: 15px 15px 15px 0;
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
}
header a{
    color: black;
    text-decoration: none;
}
header a:hover{
    color: white;
    text-shadow: 0px 0px 3px black;
}
header img{
    height: 300px;
    margin-left: 50px;
}

/* Navigation */

nav{
    display: flex;
    justify-content: flex-start;
}
nav ul{
    margin: 0;
    padding-left: 0;
}
nav ul li{
    margin: 0;
    border-right: solid 1px black;
    padding: 0 15px;
    font-size: 25px;
    list-style: none;
    float: left;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
    text-shadow: 0px 0px 3px black;
}
#nav_first{
    padding-left: 0;
}
#nav_last{
    border-right: 0;
}

/* Main */

main{
    width: 804px;
    padding: 30px 0 50px 0;
    border-top: 1px solid black;
    margin: auto;
}
main p{
    font-size: 20px;
}
main img{
    width: 804px;
    margin-top: 30px;
}

/* Footer */

footer{
    background-color: black;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}
footer ul{
    margin: 0;
    padding-left: 0;
}
footer ul li{
    margin: 0;
    line-height: 10px;
    padding: 10px 15px;
    list-style: none;
    float: left;
}
footer ul li i{
    color: white;
    font-size: 25px;
    text-decoration: none; 
}
footer ul li a i:hover{
    color: black;
    text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

/* RWD */

@media screen and (max-width: 900px) {
    main{
        width: 600px;
    }
    #header_container{
        width: fit-content;
        margin-right: 20px;
        text-align: left;
    }
    header h1{
        padding: 15px 15px 15px 0;
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: bold;
    }
    header img{
        height: 200px;
        margin-left: 20px;
    }
    main img{
        width: 600px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 650px){
    header{
        padding: 25px;
    }
    #header_container{
        margin-right: 0;
        text-align: center;
    }
    header h1{
        font-size: 30px;
        padding-left: 15px;
    }
    header img{
        height: 270px;
        padding: 25px 0 15px 0;
        margin: 0 30px;
    }
    nav ul li{
        font-size: 20px;
    }
    #nav_first{
        padding-left: 15px;
    }
    main{
        width: 330px;
        padding: 10px 0 40px 0;
    }
    main p{
        margin: 30px 0;
        font-size: 15px;
    }
    main img{
        width: 350px;  
    }
}
@media screen and (max-width: 425px){
    header h1{
        font-size: 20px;
    }
    header img{
        height: 250px;
    }
    nav ul li{
        height: 20px;
        padding: 0px 10px;
        font-size: 15px;
    }
    main{
        width: 270px;
        padding: 5px 0 30px 0;
    }
    main img{
        width: 250px;
    }
    footer{
        padding: 10px 0 10px 0;
    }
    footer ul li{
        font-size: 10px;
        padding: 10px 10px;
    }
}