html{
    background-color: white;
    font-family:  'Noto Serif TC', 'Noto Serif', serif;
}

/* Header */

header{
    width: 100%;
    background-color: white;
    display: table;
    position: sticky;
    top: 0;
    z-index: 99;
}
#header_container{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
header h1{
    padding: 5px;
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}
header h1 a{
    color: black;
    text-decoration: none;
}
header h1 a:hover{
    color: white;
    text-shadow: 0px 0px 3px black;
}

/* Navigation */

nav{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
nav ul{
    margin: 0;
    padding-left: 0;
}
nav ul li{
    height: 20.7px;
    margin: 0;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: lighter;
    border-right: 1px solid black;
    list-style: none;
    float: left;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
    text-shadow: 0px 0px 3px black;
}
#nav_first{
    padding-left: 0;
}
#nav_last{
    border-right: 0;
}

/* Section */

main{
    width: 800px;
    padding: 30px 0 50px 0;
    margin: auto;
}
main a{
    color: black;
    text-decoration: none;
}
.section_title{
    width: 800px;
    padding-bottom: 25px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid black;
    text-align: center;
}
.section_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section_divider{
    border: 0;
    margin: 12.5px 0;
}
.essay_block{
    width: 300px;
    height: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.essay_block:hover{
    background: rgb(245, 245, 245);
    color: white;
    text-shadow: 0px 0px 3px black;
    transition: all 200ms ease;
}
.essay_title{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.essay_date{
    margin: 10px 0 0 0;
    font-size: 10px;
}
.essay_short{
    margin: 20px 0 0 0;
    font-size: 15px;
}
.photo_block{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}
.photo_block img{
    width: auto;
    height: 240px;
    z-index: 98;
    transition: opacity 200ms ease;
}
.photo_block img:hover{
    opacity: 0.25;
}
.photo_subblock{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
}
.photo_title{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}
.photo_date{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 10px;
    margin-top: 5px;
}
.book_block{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}
.book_block img{
    width: auto;
    height: 240px;
    z-index: 98;
    transition: opacity 200ms ease;
}
.book_block img:hover{
    opacity: 0.25;
}
.book_subblock{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
}
.book_title{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}
.book_date{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 10px;
    margin-top: 5px;
}
#thought_list a{
    width: fit-content;
}
#thought_list p a:hover{
    color: white;
    text-shadow: 0px 0px 3px black;
}

/* Essay */

.date{
    margin-top: 10px;
    font-size: 15px;
}
.essay_description{
    margin: 10px;
    text-align: center;
    color: #888888;
    font-size: 15px;
}
.essay_quote{
    border-left: solid 3px black;
    padding-left: 15px;
    font-style: italic;
}
.essay_link{
    color: black;
}
main h1{
    margin: 20px 0 0 0;
}
main h2{
    margin: 40px 0;
    font-size: 25px;
}
main h3{
    margin: 40px 0;
    font-size: 22.5px;
}
main p{
    margin: 40px 0;
    font-size: 20px;
}
main hr{
    border: solid 0.25px black;
    margin: 40px 0;
}
main img{
    width: 800px;
}

/* Photograph */

.photo_container{
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
#photo_expanded{
    width: fit-content;
    height: 533px;
    width: auto;
}
.photo_thumbnail{
    float: left;
}
.photo_thumbnail img{
    width: 75px;
    height: 75px;
    padding: 2px;
    object-fit: cover;
    opacity: 0.8;
    cursor: pointer;
}
.photo_thumbnail img:hover{
    opacity: 1;
}
.photo_banner{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Thought */

.thought_bubble{
   padding-top: 20px;
}

/* Mail */

#mail_body{
    display: flex;
}
#mail_form{
    width: 50%;
}
.mail_block{
    margin-bottom: 20px;
}
.mail_subblock{
    width: 100%;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.mail_input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    outline: none;
    display: block;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.mail_input:focus{
    border: 1px solid #313131;
}
select.mail_input[size], select.mail_input[multiple]{
    height: auto;
}
textarea.mail_input{
    height: auto;
}
.mail_label{
    margin-bottom: 20px;
    display: inline-block;
}
#mail_credit{
    font-size: 15px;
    color: #555555;
}
#mail_credit a{
    color: #555555;
    text-decoration: underline;
}
#mail_credit a:hover{
    color: blue;
}

.fcf-btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce){
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover{
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block{
    display: block;
    width: 100%;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block{
    width: 100%;
}

/* Footer */

footer{
    background-color: black;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}
footer ul{
    margin: 0;
    padding-left: 0;
}
footer ul li{
    margin: 0;
    line-height: 10px;
    padding: 10px 15px;
    list-style: none;
    float: left;
}
footer ul li i{
    color: white;
    font-size: 25px;
    text-decoration: none; 
}
footer ul li a i:hover{
    color: black;
    text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

/* RWD */

@media screen and (max-width: 900px) {
    main{
        width: 600px;
    }
    .section_title{
        width: 600px;
    }
    .essay_block{
        width: 250px;
        height: 125px;
        padding: 20px;
    }
    .essay_title{
        font-size: 25px;
    }
    .essay_short{
        font-size: 10px;
    }
    .photo_block{
        width: 270px;
    }
    .photo_block img{
        height: 180px;
    }
    .photo_title{
        font-size: 18px;
    }
    .book_block img{
        height: 180px;
    }
    .book_title{
        font-size: 18px;
    }
    main img{
        width: 600px;
    }
    #photo_expanded{
        height: 400px;
    }
    .photo_banner{
        width: 600px;
    }
    .photo_thumbnail img{
        width: 70px;
        height: 70px;
        padding: 2px;
    }
}

@media screen and (max-width: 650px){
    main{
        width: 330px;
        padding: 20px 0 40px 0;
    }
    .section_title{
        width: 330px;
        padding-bottom: 20px;
        margin: 0 0 20px 0;
        font-size: 25px;
    }
    .section_row{
        justify-content: center;
    }
    .section_divider{
        margin: 0;
    }
    .essay_block{
        width: 300px;
        height: 150px;
        padding: 15px;
    }
    .photo_block{
        width: 330px;
        margin-bottom: 15px;
    }
    .photo_block img{
        height: 220px;
        opacity: 0.3;
    }
    .photo_block img:hover{
        opacity: 0.3;
    }
    .photo_title{
        font-size: 20px;
    }
    .book_block{
        margin-bottom: 15px;
    }
    .book_block img{
        height: 220px;
        opacity: 0.3;
    }
    .book_block img:hover{
        opacity: 0.3;
    }
    .book_title{
        font-size: 20px;
    }
    .title{
        font-size: 25px;
    }
    .date{
        margin-top: 5px;
        font-size: 10px;
    }
    .essay_description{
        margin: 8px;
        font-size: 10px;
    }
    .essay_quote{
        padding-left: 10px;
    }
    main h1{
        margin: 10px 0 0 0;
    }
    main h2{
        margin: 30px 0;
        font-size: 20px;
    }
    main h3{
        margin: 30px 0;
        font-size: 17.5px;
    }
    main p{
        margin: 30px 0;
        font-size: 15px;
    }
    main hr{
        margin: 30px 0;
    }
    main img{
        width: 330px;
    }
    .photo_container{
        padding-bottom: 40px;
    }
    #photo_expanded{
        height: 220px;
    }
    .photo_banner{
        width: 330px;
    }
    .photo_thumbnail img {
        width: 50px;
        height: 50px;
        padding: 2px;
    }
}
@media screen and (max-width: 425px){
    header h1{
        font-size: 25px;
    }
    nav ul li{
        height: 20px;
        padding: 0px 10px;
        font-size: 15px;
    }
    main{
        width: 270px;
        padding: 10px 0 30px 0;
    }
    .section_title{
        width: 270px;
        padding-bottom: 15px;
        margin: 0px 0 15px 0;
        font-size: 20px;
    }
    .essay_block{
        width: 250px;
        height: 125px;
        padding: 10px;
    }
    .essay_title{
        font-size: 20px;
    }
    .photo_block{
        width: 270px;
    }
    .photo_block img{
        height: 180px;
    }
    .photo_title{
        font-size: 18px;
    }
    .book_title{
        font-size: 18px;
    }
    main img{
        width: 250px;
    }
    .photo_container{
        padding-bottom: 30px;
    }
    #photo_expanded{
        height: 180px;
    }
    .photo_banner{
        width: 270px;
    }
    .photo_thumbnail img {
        width: 40px;
        height: 40px;
        padding: 2px;
    }
    footer ul li{
        font-size: 10px;
        padding: 10px 10px;
    }
}